.blurry {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.lesson {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lesson-title {
  text-shadow: 1px 1px 1px #000;
}

.lesson-content {
  font-weight: 200;
}


/* FLUID TYPOGRAPHY TRICK     */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
